.btn-wa{
    position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:70px;
	background-color:rgb(0, 169, 119);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgb(54, 53, 53, 0.6);
    z-index: 999;
}

.icon{
    margin: 10px;
    color: #FFF;
    font-size: 2.5rem;
}